<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
                             https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

    <display-name>Sistema de Gestão de Tarefas</display-name>

    <!-- config jsf -->
    <context-param>
        <param-name>jakarta.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>

    <!-- sufix das views do jsf -->
    <context-param>
        <param-name>jakarta.faces.DEFAULT_SUFFIX</param-name>
        <param-value>.xhtml</param-value>
    </context-param>

    <!-- weld cdi inicia para injecao das dependencias -->
    <listener>
        <listener-class>org.jboss.weld.environment.servlet.Listener</listener-class>
    </listener>

    <!-- gerenciamento de escopo do weld -->
    <listener>
        <listener-class>org.jboss.weld.module.web.servlet.WeldInitialListener</listener-class>
    </listener>

    <!-- serverlet central do jsf -->
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>jakarta.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <!-- tudo que terminar em xhtnml vai ser processado pleo jsf -->
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>

    <!-- pagina de inicio -->
    <welcome-file-list>
        <welcome-file>index.xhtml</welcome-file>
    </welcome-file-list>

    <!-- paginas de erro-->
    <error-page>
        <error-code>500</error-code>
        <location>/erro.xhtml</location>
    </error-page>

    <error-page>
        <error-code>404</error-code>
        <location>/erro.xhtml</location>
    </error-page>

</web-app>
